.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #71bf42;
}

/* Table begin */
.App-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.App-table thead tr {
  background: #4ab747;
  color: #ffffff;
  text-align: center;
}

.App-table th,
.App-table td {
    padding: 12px 15px;
}

.App-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.App-table tbody tr:hover {
  background-color: #223e32;
}

.App-table tbody tr:last-of-type {
  border-bottom: 2px solid #86c43f;
}

.App-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* Table end */
/* Form begin */
.form-field-container {
  display: grid;
  text-align: left;
}

.form-error {
  color: #ff0000;
  display: inline-block;
  grid-row: 1;
}

.form-field-name {
  grid-row-start: 2;
}

.form-field {
  grid-row-start: 3;
}

.form-title {
  text-align: left;
  cursor: pointer;
}
/* Form end */

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

body {
  background-color: #0a261b;
  color: #cfcfcfcf;
}